services:
    postgres:
        container_name: postgres
        image: postgres
        restart: always
        environment:
            POSTGRES_DB: directory_service_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
        ports:
            - "5434:5432"
        volumes:
            - postgres-data:/var/lib/postgresql/data

    seq:
      image: datalust/seq:latest
      container_name: seq
      restart: always
      environment: 
        - ACCEPT_EULA=Y
        - SEQ_FIRSTRUN_ADMINPASSWORD=N
      ports:
        - 5341:5341
        - 8081:80

    redis:
      container_name: redis
      image: redis:alpine
      ports:
        - "6379:6379"
      restart: always

    directory_service:
        container_name: directory_service
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "5188:5188"
        environment:
            - ASPNETCORE_ENVIRONMENT=Docker
            - ASPNETCORE_URLS=http://+:5188
        restart: always

volumes:
    postgres-data: